{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>University Signup System</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">   <!--Will not specify a link. Better if project will be large scale-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">
                <i class="fa-solid fa-graduation-cap fa-lg"></i>University Signup System
            </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor04">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        <i class="fa-solid fa-list fa-lg"></i> List Students
                    </a>
                  </li>
                  {% if not student_exists %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'add' %}">
                          <i class="fa-solid fa-plus fa-lg"></i> Register
                      </a>
                  </li>
              {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'matematicki' %}"> Matematicki</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'tehnoloski' %}">Tehnoloski</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'informaticki' %}">Informaticki</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="container-fluid">
           {% block body %}
           {% endblock %}
          </div>
          <footer class="mt-auto mb-4">
            <div class="text-center">
               <span>
                Copyright &copy; <script>document.write(new Date().getFullYear())</script> Ian Dzindo.
               </span> 
            </div>
          </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</head>
</html>