{% load static %}
<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">   <!--will not specify a link. Better if project will be large scale-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/></head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mb-4">Login</h2>
                <form method="post" action="{% url 'token_obtain_pair' %}">
                    {% csrf_token %}

                    {{ form }}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{request.GET.next}}">
                    {% endif %}

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a href="{% url 'admin:login' %}" class="btn btn-secondary mt-4">Admin Login</a>
                <hr class="my-4">

                <h2 class="mt-4 mb-4">Register</h2>
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
